# DATABASE_URL=
# PAYLOAD_SECRET=

# DIGITALOCEAN_SPACE_REGION=
# DIGITALOCEAN_SPACE_ENDPOINT=
# DIGITALOCEAN_SPACE_BUCKET=
# DIGITALOCEAN_SPACE_HOST=
# S3_ACCESS_KEY=
# S3_SECRET_KEY=

# for remote:
DATABASE_URL=
PAYLOAD_SECRET=""
S3_ACCESS_KEY=
S3_SECRET_KEY=